* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #5f27cd;
    padding: 16px 0;
    color: #fff;
    display: flex;
    border-bottom: 16px solid #341f97;
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;
}

header button {
    margin-left: 16px;
}

form {
    background-color: #c8d6e5;
    padding: 24px 0;
    text-align: center;
    display: none;
}

form h2 {
    margin-bottom: 16px;
}

input, button {
    padding: 8px;
}

button { 
    background-color: #009432;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

#botao-limpar {
    background-color: red;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column; /* Coloca os itens em uma coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
    cursor: pointer;
}

ul li {
    width: 80%; /* Ajuste a largura conforme necessário */
    margin: 10px 0; /* Adiciona espaço entre os itens */
    background-color: lightblue; /* Apenas para visualização */
    padding: 20px; /* Apenas para visualização */
    box-sizing: border-box; /* Inclui padding e border no tamanho total */
    text-align: center; /* Centraliza o texto dentro do item */
}
.nova-tarefa {
    word-wrap: break-word; /* Permite a quebra de linha dentro da palavra */
    
}

.riscado {
    text-decoration: line-through;

}